{{ template "snippets/header.html" . }}

{{ if eq .Profile.Balance 0 }}
<div class="center">
    <h3>
        You need some Bitcoin Cash to get started
    </h3>
    <br/>
    <p>
        <a class="btn btn-primary" href="/">Click here to fund your account</a>
    </p>
    <br/>
</div>
{{ end }}

<br/>

{{ template "profile/snippets/profile.html" dict "Profile" .Profile "UserSettings" .UserSettings }}

<div class="dashboard-actions">
    <a class="btn btn-default" href="profile/{{ .Profile.GetAddressString }}">{{ T "view_your_profile" }}</a>
    <a class="btn btn-default" href="memo/set-name">{{ T "set_name" }}</a>
    <a class="btn btn-default" href="memo/set-profile">{{ T "set_profile" }}</a>
    <a class="btn btn-default" href="memo/set-profile-pic">{{ T "set_profile_pic" | Title }}</a>
    <a class="btn btn-default" href="key/export">{{ T "export_key" }}</a>
    <a class="btn btn-default" href="key/change-password">{{ T "change_password" }}</a>
    <a class="btn btn-default" href="key/delete-account">{{ T "Delete_Account" }}</a>
</div>

<br/>

{{ template "snippets/footer.html" . }}
