{{ $tz := .TimeZone }}

{{ template "snippets/header.html" . }}

<br/>

{{ template "profile/snippets/profile.html" dict "Profile" .Profile "UserSettings" .UserSettings }}

{{ $pageType := .PageType }}
<p class="posts-nav">
    <a {{ if eq $pageType "all" }}class="sel"{{ end }} href="/profile/{{ .Profile.GetAddressString }}?p=all">{{ T "All Activity" }}</a>
    <a {{ if eq $pageType "posts" }}class="sel"{{ end }} href="/profile/{{ .Profile.GetAddressString }}?p=posts">{{ T "Posts" }}</a>
    <a {{ if eq $pageType "likes" }}class="sel"{{ end }} href="/profile/{{ .Profile.GetAddressString }}?p=likes">{{ T "Likes" }}</a>
    <a {{ if eq $pageType "polls" }}class="sel"{{ end }} href="/profile/{{ .Profile.GetAddressString }}?p=polls">{{ T "Polls" }}</a>
</p>

{{ template "feed/items.html" . }}

<br/>

{{ template "snippets/footer.html" . }}
