body {
    overflow-y: scroll;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* Fix for text-size-adjust being ignored: https://bugs.webkit.org/show_bug.cgi?id=FontBoosting */
    max-height: 1000000px;
    padding: 0;
    margin: 0;
    background: #f8f8f8;
}
html {
    font-family: sans-serif;
}

a {
    color: #487521;
}
a.image-link:hover {
    text-decoration: none;
}

h1 {
    margin-bottom: 10px;
}
h1 a {
    text-decoration: none;
    color: #000;
}
h1 a img {
    display: inline-block;
    vertical-align: bottom;
    width: 40px;
    height: 40px;
}

iframe {
    display: block;
    width: 100%;
    margin: 0 auto;
}
video {
    display: block;
    width: 100%;
    margin: 10px auto;
}
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:0;
    height:0;
    overflow:hidden;
}
.video-container iframe,
.video-container video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.twitter-tweet {
    margin: 10px auto;
    min-height: 150px;
    width: 100%;
    border: none;
    background: #eee;
}
@media (min-width: 400px) {
    .twitter-tweet {
        width: 350px;
    }
}
body.dark .twitter-tweet {
    background: rgb(53, 72, 90);
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

hr.no-margin {
    margin: 0;
}

span.inline {
    display: inline-block;
}

input[type=button]:hover,
input[type=submit]:hover {
    cursor: pointer;
}

select {
    width: 150px;
    max-width: 100%;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.clear {
    clear: both;
}
.glyphicon.spinning {
    animation: spin 1.5s infinite linear;
    -webkit-animation: spin2 1.5s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

#site-wrapper.active {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}
#inner-site-wrapper {
    position: relative;
    height: 100%;
}
#site-wrapper-cover.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
}
#site-modal-wrapper {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}
#site-modal-wrapper .container {
    padding-top: 100px;
}

table.sortable td.bars span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 3px 0;
    background: #444;
}
table.sortable td.bars:hover {
    cursor: ns-resize;
}
table.inline {
    display: inline;
    border: none;
}
table.left th {
    text-align: left;
}

a.btn.right {
    float: right;
}
a.btn-leave {
    color: #888;
    background: #eee;
}

a.disabled {
    pointer-events:none;
    color: #888;
    text-decoration: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar .logo {
    display: inline-block;
    width: 60px;
    height: 37px;
    margin-top: -3px;
    margin-right: 10px;
}
.navbar .dropdown img {
    widtH: 20px;
    height: 20px;
}
.navbar-default {
    background: linear-gradient(#5b9920, #548d1d);
    border-color: transparent;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
.navbar-default .navbar-brand {
    margin-right: 25px;
    padding: 15px 15px 20px;
    font-weight: bold;
    display: inline-block;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover  {
    color: #fff;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
    margin-bottom: -1px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    border-color: #f8f8f8;
    color: #fff;
}
@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        background-color: #ccc;
        border-color: transparent;
        color: #333;
    }
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #888;
}
.navbar .mobile-notifs-link {
    border: 0;
    padding: 0;
    margin:5px 5px 0;
}
@media (min-width: 400px) {
    .navbar .alert-banner {
        left: 50%;
        margin-left: -200px;
        width: 400px;
    }
}
@media (max-width: 399px) {
    .navbar .alert-banner {
        width: 100%;
    }
}
.navbar .alert-banner {
    position: absolute;
    top: 50px;
    background: #ff8080;
    border-radius: 0 0 5px 5px;
}
.dark .navbar .alert-banner {
    background: #bf4d4d;
}
.navbar .alert-banner p {
    margin: 0;
    padding: 10px;
}
.nav.right {
    text-align: right;
}
.nav.nav-pills > li > a {
    margin-bottom: 5px;
}
.nav>li>a.btn:focus,
.nav>li>a.btn:hover {
}
.nav-item.notifications span {
    top: 3px;
}
@media (max-width: 991px) {
    .footer {
        text-align: center;
    }
}
.footer {
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.footer div {
    padding: 0 0 5px;
}
.footer .links a {
    display: inline-block;
    margin: 0 10px 5px;
}
.footer .dropdown-menu>li>a {
    padding: 3px 10px;
}

.posts {
    padding: 15px 0;
}
.post {
    position: relative;
    background: #fff;
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    word-wrap: break-word;
    border: 1px solid #ccc;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    border-radius: 4px;
}
.post .name .profile {
    font-weight: bold;
    font-size: 18px;
}
.post .name .profile.profile-feed-item {
    font-weight: normal;
}
.post .name {
    position: relative;
    min-height: 22px;
    margin: 0 0 0;
    line-height: 22px;
}
.mini-profile-name {
    position: relative;
    display: inline-block;
}
.mini-profile-wrapper {
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
}
.mini-profile {
    position: absolute;
    display: none;
    font-weight: normal;
    top: 20px;
    left: 0;
    max-width: 400px;
    min-width: 250px;
    border: 1px solid #ccc;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    padding: 5px 10px;
    z-index: 1;
}
body.dark .mini-profile {
    background: #2b3e50;
}
body.dark .mini-profile table td p:nth-of-type(1) {
    color: #e0e0e0;
}
/*.mini-profile .name-follow a.btn {
    color: #fff;
}
.mini-profile .name-follow a.btn:hover {
    text-decoration: none;
}*/
.mini-profile .pic {
    position: absolute;
    top: 10px;
    left: 10px;
}
.mini-profile .name-follow {
    padding: 5px 0 0 138px;
    min-height: 135px;
}
.mini-profile .name-follow h3 {
    margin: 0;
    word-break: break-word;
}
.mini-profile .name-follow .joined {
    margin: 2px 0;
    font-size: 12px;
}
.mini-profile .body {
    padding: 5px 0 10px;
    word-break: break-word;
}
.mini-profile .identicon,
.reply .mini-profile .identicon {
    width: 128px;
    height: 128px;
}
.mini-profile table td {
    padding-right: 20px;
}
.reply .mini-profile table td p,
.mini-profile table td p {
    margin: 0;
}
.mini-profile table td p:nth-of-type(1) {
    font-weight: bold;
    font-size: 11px;
    color: #444;
}
.mini-profile table td p:nth-of-type(2) {
    font-weight: bold;
    font-size: 16px;
    color: #487521;
}
.mini-profile-name {
    max-width: 100%;
    word-break: break-all;
    margin-bottom: 3px;
}

.anchor {
    display: block;
    position: relative;
    top: -55px;
}
.post .post {
    margin: 0 -9px 5px -5px;
}
.post .reply {
    margin: 5px 0 5px;
    border: 1px solid #eee;
    background: #fafafa;
    padding: 10px;
    color: #888;
}
.post .reply p {
    margin: 12px 0 0;
    font-size: 18px;
}
.post .reply.reply-feed-item p {
    font-size: 14px;
}
.post .reply.vote p {
    margin: 5px 0 5px;
}
.post .reply.vote p:nth-of-type(1) {
    font-style: italic;
}
.post .reply.vote p:nth-of-type(2) {
    font-weight: bold;
}
.post .message {
    margin: 5px 0 0;
    font-size: 28px;
}
.post .message.message-feed-item {
    font-size: 24px;
}
.post .message.profile-text {
    padding-bottom: 10px;
}
.post .likes {
    margin: 0 0 5px;
}
.post .like {
    font-size: 12px;
    display: inline-block;
    vertical-align: bottom;
}
.post .like-form.hidden {
    display: none;
}
.post .like-form {
    display: inline-block;
    margin: 0;
}
.post .like-form label {
    width: unset;
    padding: 2px 5px;
    margin-left: 10px;
    vertical-align: bottom;
}
.post .like-form input[type=text] {
    width: 100px;
    display: inline-block;
}
.post .post-header {
    margin: 0;
    padding-right: 25px;
}
.post .feed-item-post {
    border-left: 25px solid #f8f8f8;
    padding-left: 10px;
}
.post .feed-item-post .message {
    color: #888;
}
body.dark .post .feed-item-post {
    border-color: #35485a;
}
body.dark .post .feed-item-post .message {
    color: #aaa;
}
.post .post-header-feed-item {
    padding-bottom: 5px;
}
.post .post-header .block-explorer {
    position: absolute;
    list-style-type: none;
    top: 5px;
    right: 9px;
    padding: 0;
    font-size: 18px;
    color: #333;
}
.post .post-header .block-explorer a {
    color: #333;
}
body.dark .post .post-header .block-explorer a {
    color: #5e992b;
}
.post .post-header .block-explorer ul a {
    color: #487521;
}
body.dark .post .post-header .block-explorer ul a {
    color: #ccc;
}
.post .block-explorer .glyphicon {
    font-size: 15px;
}
.post .actions .glyphicon {
    margin-right: 10px;
    margin-top: -4px;
    vertical-align: middle;
}
.post .actions a {
    margin: 5px 0;
}
.post .creating,
.post .broadcasting {
    display: inline-block;
    margin: 5px 0;
}
.post .broadcasting.creating,
.post .broadcasting.hidden {
    display: none;
}
.post .actions {
    margin: 0 0 5px;
}
.post .reply-form {
    margin-bottom: 5px;
}
.post .actions .btn-leave {
    margin-left: 10px;
}
.post .feed-item {
    color: #555;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.dark .post .feed-item {
    color: #bbb;
    border-color: #666;
}
.post .feed-item .feed-item-glyphicon {
    margin-right: 5px;
}
.post .feed-item-like .feed-item-glyphicon {
    color: #b00;
}
.post .feed-item-vote .feed-item-glyphicon {
    color: #0b0;
}
.btn-warning {
    color: white;
    background-color: #548d1d;
    border-color: #548d1d;
}
.btn-warning:hover {
    color: white;
    background-color: #548d1d;
    border-color: #548d1d;
}
#notify {
    color: red;
    font-style: italic;
}
img.identicon, img.profile-pic-24 {
    border: none;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin-right: 3px;
}
.reply img.identicon {
    width: 18px;
    height: 18px;
}
table.table {
    background: #fff;
}
body.dark table.table {
    background-color: transparent;
}
.profile {
    position: relative;
}
.view-profile .identicon {
    width: 128px;
    height: 128px;
}
.profile .btn {
    word-break: break-word;
}
.profile .name {
    word-break: break-word;
}
.profile td:nth-child(2) {
    word-break: break-word;
}
.profile #qr-code {
    display: none;
    margin-top: 5px;
}
.profile #qr-code img {
    margin-top: 5px;
    height: 150px;
    width: 150px;
}

.profile .click-for-qr {
    font-size: 12px;
}
.profile .pic {
    position: absolute;
    top: 0
}
.profile .title {
    min-height: 138px;
    padding-left: 148px;
    word-break: break-word;
}
.profile h3 {
    margin: 0;
}
.profile .joined {
    font-size: 12px;
    margin: 5px 0;
}
.profile table.table {
    font-size: 12px;
}
.profile table.table td {
    word-break: break-word;
}
.profile .dropdown {
    vertical-align: top;
    display: inline-block;
    word-break: break-word;
}
.profile .dropdown .btn {
    margin-bottom: 10px;
}
#profile-list table tr td:nth-of-type(2) {
    word-break: break-word;
}
@media (min-width: 768px) {
    #profile-list table tr td:nth-of-type(5),
    #profile-list table tr td:nth-of-type(6) {
        white-space: nowrap;
    }
    .narrow-profile-list {
        display: none;
    }
}
@media (max-width: 767px) {
    .wide-profile-list {
        display: none;
    }
}
#profile-list .profile-info {
    background: #fff;
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    word-wrap: break-word;
    border: 1px solid #ccc;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    border-radius: 4px;
}
body.dark #profile-list .profile-info {
    background: #2b3e50;
    border-color: #666;
}
#profile-list .name {
    font-weight: bold;
}
#profile-list .profile-info .name {
    font-size: 18px;
}
#profile-list .profile-info:nth-of-type(2n) {
    background: #f9f9f9;
}
#profile-list .profile-info table {
    margin-bottom: 5px;
}

.byte-count.red {
    color: red;
}
.posts-nav {
    text-align: center;
}
.posts-nav a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin: 10px 5px 0;
}
.posts-nav a:hover,
.posts-nav a.sel {
    text-decoration: underline;
}
span.page {
    display: inline-block;
    margin: 0 10px;
}

.pagination {
    display: block;
    text-align: center;
}
.pagination a {
    color: #000;
}
.pagination a.disabled {
    color: #888;
}

#about h3, #guides h3 {
    font-size: 1.1em;
    font-weight: bold;
}

#guides img {
    margin-top: 5px;
    width: 100%;
}
#guides li {
    margin-bottom: 3px;
}

.reputation-tooltip {
    position: relative;
    font-size: 12px;
}
.reputation-tooltip .reputation-glyphicon {
    margin-right: 2px;
    font-size: 9px;
}
.reputation-tooltip a {
    font-weight: bold;
    font-size: 12px;
}
.red {
    color: #c73838;
}
.dark .red {
    color: #d93d3d;
}
.yellow {
    color: #c7af38;
}
.green {
    color: #487521;
}
.dark .green {
    color: #6eb332;
}
.blue {
    color: #00b;
}
.dark .blue {
    color: #8095ff;
}
.reputation-tooltip:hover .bubble {
    display: block;
    z-index: 1;
}
.reputation-tooltip .bubble {
    position: absolute;
    display: none;
    color: #000;
    background: #eee;
    border: 1px solid #333;
    top: 15px;
    left: 0;
    word-break: break-word;
    width: 250px;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
    text-align: left;
}
.reputation-tooltip:hover .bubble {
    display: block;
}
#broadcasting, #creating {
    display: inline-block;
    padding: 12px 10px 0 10px;
}
#broadcasting.hidden {
    display: none;
}
#password-clear {
    display: none;
    padding: 12px 10px 0 10px;
}
#password-clear.show {
    display: inline-block;
}
#all-posts {
    overflow-y: scroll;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    border: 1px solid #eee;
}
@-moz-document url-prefix() {
    #all-posts {
        height: 50%;
    }
}
.topics-table>thead>tr>th,
.topics-table>tbody>tr>td {
    vertical-align: middle;
}
.topics-table tr td:nth-of-type(1) {
    max-width: 400px;
    padding-left: 22px;
    position: relative;
}
.topics-table a {
    color: #000;
}
.topics-table .glyphicon {
    color: #487521;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 7px;
    font-size: 8px;
    margin-right: 2px;
}
body.dark .topics-table .glyphicon {
    color: #ddd;
}
.topics-table .glyphicon.placeholder {
    visibility: hidden;
}
.topic-post {
    padding: 5px 10px 5px 40px;
    word-break: break-word;
    border-bottom: 1px solid #eee;
}
.topic-post .profile-link {
    color: #000;
}
.topic-post:nth-of-type(odd) {
    background: #fcfcfc;
}
.topic-post:nth-of-type(even) {
    background: #fff;
}
.topic-post:last-of-type {
    border-bottom: none;
}
.topic-post .topic-identicon, .topic-post .profile-pic-24 {
    float: left;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-left: -32px;
}
.topic-post .post-wrapper {
    float: right;
    width: 100%;
}
.topic-post .post-header,
.topic-post .post-header p {
    margin: 0;
}
.topic-post .name {
    font-weight: bold;
}
.topic-post .name a.topic-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.topic-post .name a.topic-link:hover {
    text-decoration: underline;
}
.topic-post .name a.topic-link.time {
    font-weight: normal;
    font-size: 12px;
    color: #888;
}
.topic-post .reputation-tooltip {
    font-weight: normal;
    font-size: 12px;
}
.topic-post .like {
    font-size: 12px;
    display: inline-block;
}
.topic-post .like-info {
    font-style: italic;
}
.topic-post a.like-link {
    margin: 0;
    font-weight: normal;
    color: #888;
}
.topic-post .like-form {
    display: none;
    font-size: 12px;
}
.topic-post .like-form a {
    display: inline-block;
    padding-top: 4px;
}
.topic-post .like-form label {
    width: unset;
    padding-top: 4px;
}
.topic-post .like-form input {
    display: inline-block;
    width: 50px;
    margin: 0;
    vertical-align: top;
    min-width: unset;
}
.topic-post .like-form input[type=checkbox] {
    width: unset;
}
.topic-post .like-form input[type=submit] {
    background: rgba(0,0,0,0.05);
}
.topic-post .like .broadcasting {
    display: inline-block;
}
.topic-post .like .broadcasting.hidden {
    display: none;
}
.topic-post .imgur img {
    max-width: 50%;
    max-height: 200px;
}
.topic-post .video-wrapper {
    margin: 5px auto;
}
@media (min-width: 768px) {
    .topic-post .video-wrapper {
        max-width: 40%;
    }
}
@media (max-width: 767px) {
    .topic-post .video-wrapper {
        max-width: 70%;
    }
}
#password-clear {
    display: none;
}
#password-clear a {
    color: #888;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
}
#password-clear a:hover {
    text-decoration: underline;
}
.search-form {
    display: inline;
    margin-bottom: 0;
}
.search-form label {
    min-width: unset;
    margin: 5px 0;
}
.search-form input {
    margin: 5px 0;
}
@media (min-width: 768px) {
    .search-form input[type=text] {
        width: 250px;
    }
}
a.block-link {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
}
.topics-index-head {
    margin-bottom: 10px;
}
.imgur {
    display: block;
    margin: 10px auto;
    max-width: 50%;
    max-height: 400px;
    text-align: center;
}
.imgur img {
    max-width: 100%;
    max-height: 400px;
}
#private-key-field {
    display: none;
}
.notice {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}
.signup-notice {
    display: block;
    font-size: 12px;
    font-style: italic;
    margin: 5px 0;
}
#password-warning {
    font-size: 12px;
    margin-left: 5px;
}
#password-warning span {
    font-weight: bold;
}
.disclaimer {
    padding-left: 25px;
}
.disclaimer input {
    display: block;
    width: 13px;
    margin-left: -21px;
    float: left;
}
.disclaimer label {
    display: block;
    width: 100%;
    float: right;
    font-size: 12px;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

.text-right-large {
    text-align: right;
    line-height: 2em;
}
@media (max-width: 991px) {
    .text-right-large {
        text-align: unset;
    }
}
.home-header {
    margin-bottom: 30px;
}
.home-header h1 {
    text-align: center;
    margin: 20px 0 10px;
}
.home-header h2 {
    text-align: center;
}
.home-list {
    text-align: center;
}
.home-list ul {
    text-align: left;
    display: inline-block;
    width: 100%;
    max-width: 350px;
}
.home-list .glyphicon {
    margin-right: 15px;
}
.home-list p {
    text-align: center;
    margin: 20px 0;
}
.home-protocol-image {
    text-align: center;
}
.home-protocol-image img {
    width: 100%;
    border: 1px solid black;
    max-width: 450px;
}
.home-list .list-group-item {
    border-color: #ccc;
    border-width: 1px 0 0 0;
    background: transparent;
}
.home-list .list-group-item:first-of-type {
    border-width: 0;
}
.home-list .signup-login a {
    margin: 5px 0;
}
#new-memo-form textarea {
    height: 100px;
}
.dashboard-actions {
    text-align: center;
}
.dashboard-actions a {
    margin: 5px 0;
}

table.notifications-table td:nth-child(1) {
    vertical-align: middle;
    text-align: center;
}
table.notifications-table td.like {
    color: #b00;
}
table.notifications-table td.reply {
    color: #487521;
}
.notifications-table a,
.notify-post {
    word-break: break-word;
}
.notify-post a {
    color: #aaa;
}
.notify-post .reply {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #f4f4f4;
}
table.notifications-table .name {
    font-size: 18px;
}
table.notifications-table .time-ago {
    color: #777;
}
table.notifications-table .tip {
    font-size: 14px;
    font-weight: bold;
}

#new-poll-form .remove-response.hidden {
    display: none;
}
#new-poll-form .glyphicon-remove {
    color: rgba(255,0,0,0.25);
    margin-left: 5px;
    top: 2px;
}
#new-poll-form .glyphicon-remove:hover {
    color: rgba(255,0,0,1);
    top: 2px;
}
table.poll-results {
    border-bottom: 1px solid #ddd;
}
body.dark table.poll-results {
    border-color: #666;
}
table.poll-results td {
    padding: 5px 10px;
}
table.poll-results td:nth-of-type(2) {
    font-style: italic;
    font-size: 14px;
}
.poll .votes {
    border: 1px solid #ccc;
    padding: 10px 20px;
    background: #fafafa;
}
.poll .votes .table {
    margin: 0;
}
.poll .note {
    font-weight: bold;
    font-style: italic;
    margin-left: 10px;
}
.votes-table tr td:nth-of-type(1) {
    word-break: break-word;
}
.votes-table tr td:nth-of-type(4) {
    width: 150px;
    min-width: 150px;
}
.topic-view-nav a.btn {
    margin: 5px 0;
}
.no-threads {
    text-align: center;
    margin: 20px 0 40px;
    font-size: 18px;
}
.threads div {
    word-break: break-word;
    background-color: #fff;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.threads div p a {
    color: #000;
    font-size: 18px;
}
.no-funds {
    text-align: center;
    word-break: break-word;
    font-size: 16px;
}
.no-funds p {
    line-height: 30px;
}
.no-funds p a {
    text-decoration: underline;
}
.no-funds div {
    padding-top: 20px;
}


body.dark .threads div {
    background: #304559;
    border-color: #666;
}
body.dark .threads div p a {
    color: #e0e0e0;
}

body.dark #new-poll-form .glyphicon-remove {
    color: rgba(255,50,50,0.75);
    margin-left: 5px;
    top: 2px;
}
body.dark #new-poll-form .glyphicon-remove:hover {
    color: rgba(255,0,0,1);
}
body.dark {
    background: #2b3e50;
    color: #e0e0e0;
}
body.dark .post {
    background: #2b3e50;
    border-color: #666;
}
body.dark .table-striped>tbody>tr:nth-of-type(odd) {
    background: #304559;
}
body.dark .table>tbody>tr>td,
body.dark .table>tbody>tr>th,
body.dark .table>tfoot>tr>td,
body.dark .table>tfoot>tr>th,
body.dark .table>thead>tr>td,
body.dark .table>thead>tr>th {
    border-color: #666;
}
body.dark .post .reply {
    background-color: rgb(53, 72, 90);
    border-color: #666;
}
body.dark .btn-default {
    color: #e0e0e0;
    border-color: #666;
    background-color: rgb(53, 72, 90);
}
body.dark a.btn-leave {
    color: #888;
    border-color: #666;
    background-color: transparent;
}
body.dark a {
    color: #6eb332;
}
body.dark a.btn {
    color: #fff;
}
body.dark .pagination a {
    color: #e0e0e0;
}
body.dark .pagination a.disabled {
    color: #777;
}
body.dark .navbar-default {
    background: #2b3e50;
    border-color: #666;
}
body.dark .footer {
    border-color: #666;
}
body.dark .navbar-default .navbar-nav a,
body.dark .navbar-default .navbar-nav a:focus,
body.dark .navbar-default .navbar-nav a:hover {
    color: #e0e0e0;
}
body.dark .navbar-default .navbar-nav>.active>a,
body.dark .navbar-default .navbar-nav>.active>a:focus,
body.dark .navbar-default .navbar-nav>.active>a:hover {
    color: #6eb332;
    background: transparent;
    border-color: #6eb332;
}
@media (max-width: 768px) {
    body.dark .navbar-default .navbar-nav>.active>a,
    body.dark .navbar-default .navbar-nav>.active>a:focus,
    body.dark .navbar-default .navbar-nav>.active>a:hover {
        background-color: #374f66;
        border-color: transparent;
    }
}
body.dark .nav>li>a:focus,
body.dark .nav>li>a:hover {
    background: #374f66;
}
body.dark .form-control {
    color: #e0e0e0;
    background: #374f66;
}
body.dark .topic-post:nth-of-type(odd) {
    background: #304559;
}
body.dark .topic-post:nth-of-type(even) {
    background: #2b3e50;
}
body.dark .topic-post {
    border-color: #666;
}
body.dark #all-posts {
    border-color: #666;
}
body.dark .topic-post .name a {
    color: #e0e0e0;
}
body.dark .navbar-default .navbar-nav>.open>a,
body.dark .navbar-default .navbar-nav>.open>a:focus,
body.dark .navbar-default .navbar-nav>.open>a:hover {
    color: #e0e0e0;
    background: #374f66;
}
body.dark .dropdown-menu {
    background: #374f66;
}
body.dark .dropdown-menu .divider {
    background: #666;
}
body.dark .dropdown-menu>li>a:focus,
body.dark .dropdown-menu>li>a:hover {
    color: #5e992b;
    background: #2b3e50;
}
body.dark .navbar-default .navbar-brand {
    color: #5e992b;
}
body.dark table.notifications-table td.like {
    color: #f00;
}
body.dark table.notifications-table td.reply {
    color: #5e992b;
}
body.dark .notify-post .reply {
    border-color: #3e5973;
    background: #374f66;
}
body.dark .notify-post a {
    color: #888;
}
body.dark .poll .votes {
    background: #374f66;
    border-color: #3e5973;
}

.profile-pic {
    border-radius:4px;
}