{{ $page := .Page }}
<p class="posts-nav">
    <a {{ if eq $page "ranked" }}class="sel"{{ end }} href="posts/ranked">{{ T "Ranked" }}</a>
    <a {{ if eq $page "polls" }}class="sel"{{ end }} href="polls">{{ T "Polls" }}</a>
{{ if .IsLoggedIn }}
    <a {{ if eq $page "feed" }}class="sel"{{ end }} href="feed">{{ T "Following" }}</a>
{{ end }}
    <a {{ if eq $page "new" }}class="sel"{{ end }} href="posts/new">{{ T "new" | Title }}</a>
    <a {{ if eq $page "archive" }}class="sel"{{ end }} href="posts/archive">{{ T "archive" }}</a>
</p>
