{{ template "snippets/header.html" . }}

<div class="home-header">
    <h1>Universal Social Network</h1>
    <h2>Dapp Built on Bitcoin Cash</h2>
</div>

<div class="col-md-6 home-list">
    <p class="signup-login">
        <a class="btn btn-success btn-lg" href="signup">Signup</a>
        &nbsp; or &nbsp;
        <a class="btn btn-primary btn-lg" href="login">Login</a>
    </p>
    <p class="center">
        <a class="btn btn-default btn-lg" href="all">View Recent Activity</a>
    </p>
</div>

<div class="col-md-6 home-list">
    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Create a profile</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>Post messages</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span>Native tipping</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>Uncensorable</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>Control your private
            key</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>All using the BCH
            blockchain</li>
    </ul>
</div>

<div class="col-md-12">
    <br/>
</div>

{{ template "snippets/footer.html" . }}
