<ul class="block-explorer">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><span
                class="glyphicon glyphicon-th"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a target="_blank"
                   href="https://explorer.bitcoin.com/bch/tx/{{ . }}">
                Bitcoin.com Explorer
            </a></li>
            <li><a target="_blank"
                   href="https://blockchair.com/bitcoin-cash/transaction/{{ . }}">
                Blockchair
            </a></li>
        </ul>
    </li>
</ul>
