<ul class="block-explorer">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><span
                class="glyphicon glyphicon-th"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Block Explorer</li>
            <li><a target="_blank"
                   href="https://svblox.com/tx/{{ . }}">
                SVBlox
            </a></li>
            <li><a target="_blank"
                   href="https://bchsvexplorer.com/tx/{{ . }}">
                BCHSVExplorer
            </a></li>
        </ul>
    </li>
</ul>
