<div class="post rounded box-shadow" id="post-{{ .Item.FeedEvent.GetTransactionHashString }}">
    <div class="post-header post-header-feed-item">
        <div class="name">
        {{ template "post/snippets/name.html" dict "Address" .Item.GetAddressString "ProfilePic" .Item.ProfilePic "IsFeedItem" false "Name" .Item.Name }}
        {{ if .Item.Reputation }}
            {{ template "snippets/reputation.html" .Item.Reputation }}
        {{ end }}
        {{ if .Item.UserFollow.Unfollow }}unfollowed{{ else }}followed{{ end }}
        {{ template "post/snippets/name.html" dict "Address" .Item.GetFollowAddressString "ProfilePic" .Item.FollowProfilePic "IsFeedItem" false "Name" .Item.FollowName }}
        {{ if .Item.FollowReputation }}
            {{ template "snippets/reputation.html" .Item.FollowReputation }}
        {{ end }}
            &middot; {{ .Item.TimeAgo }}
        </div>
    {{ template "posts/snippets/block-explorer.html" .Item.FeedEvent.GetTransactionHashString }}
    </div>
</div>

{{ if not .Item.ProfilePic }}
<script type="text/javascript">
    (function () {
        var foreground = {{ if eq .UserSettings.Theme "dark" }}[224, 224, 224, 255]{{ else }}[180, 180, 180, 255]{{ end }};
        var background = [0, 0, 0, 0];
        var data = new Identicon('{{ .Item.GetAddressString }}', {
            foreground: foreground,
            background: background,
            size: 24,
            form: 'svg',
            margin: 0
        }).toString();
        $(".identicon-{{ .Item.GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
    })();
</script>
{{ end }}

{{ if not .Item.FollowProfilePic }}
<script type="text/javascript">
    (function () {
        var foreground = {{ if eq .UserSettings.Theme "dark" }}[224, 224, 224, 255]{{ else }}[180, 180, 180, 255]{{ end }};
        var background = [0, 0, 0, 0];
        var data = new Identicon('{{ .Item.GetFollowAddressString }}', {
            foreground: foreground,
            background: background,
            size: 24,
            form: 'svg',
            margin: 0
        }).toString();
        $(".identicon-{{ .Item.GetFollowAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
    })();
</script>
{{ end }}

<script type="text/javascript">
    $(function () {
        MemoApp.MiniProfile($("#post-{{ .Item.FeedEvent.GetTransactionHashString }}"));
    });
</script>
