<div class="post rounded box-shadow" id="post-{{ .Post.Memo.GetTransactionHashString }}">
    <div class="post-header post-header-feed-item">
        <div class="name">
        {{ template "post/snippets/name.html" dict "Address" .Item.GetAddressString "ProfilePic" .Item.ProfilePic "IsFeedItem" false "Name" .Item.Name }}
        {{ if .Item.Reputation }}
            {{ template "snippets/reputation.html" .Item.Reputation }}
        {{ end }}
            set profile &middot; {{ .Item.TimeAgo }}
        </div>
    {{ template "posts/snippets/block-explorer.html" .Item.FeedEvent.GetTransactionHashString }}
    </div>
    <div class="message profile-text">
    {{ .Item.GetProfileText }}
    </div>
</div>
