<div class="post rounded box-shadow" id="post-{{ .Post.Memo.GetTransactionHashString }}">
    <div class="post-header post-header-feed-item">
        <div class="name">
        {{ template "post/snippets/name.html" dict "Address" .Item.GetAddressString "ProfilePic" .Item.ProfilePic "IsFeedItem" false "Name" .Item.Name }}
        {{ if .Item.Reputation }}
            {{ template "snippets/reputation.html" .Item.Reputation }}
        {{ end }}
        {{ if .Item.TopicFollow.Unfollow }}unfollowed{{ else }}followed{{ end }}
            topic <b><a href="topic/{{ .Item.GetTopicUrl }}">{{ .Item.TopicFollow.Topic }}</a></b>
            &middot; {{ .Item.TimeAgo }}
        </div>
    {{ template "posts/snippets/block-explorer.html" .Item.FeedEvent.GetTransactionHashString }}
    </div>
</div>
