{{ template "snippets/header.html" . }}

<script type="text/javascript" src="lib/highstock.min.js"></script>

<h2>{{ T "Charts" }}</h2>

<div id="actions-chart"></div>
<br/>
<div id="users-chart"></div>

<br/>
<br/>

<script type="text/javascript">
    $(function () {
        createChart("actions-chart", "On-chain Actions", {{ .Actions }});
        createChart("users-chart", "Unique Users", {{ .Users }});
    });
    function createChart(id, title, data) {
        Highcharts.stockChart(id, {
            title: {
                text: title
            },
            credits: false,
            legend: {
                enabled: false
            },
            tooltip: {
                formatter: function () {
                    var dateString = Highcharts.dateFormat('%Y-%m-%d', this.x);
                    return dateString + ": <b>" + Highcharts.numberFormat(this.y, 0, '', ',') + "</b>";
                }
            },
            chart: {
                alignTicks: false
            },

            rangeSelector: {
                selected: 1
            },
            series: [{
                type: 'column',
                data: data,
                dataGrouping: {
                    enabled: false
                }
            }]
        });
    }
</script>

{{ template "snippets/footer.html" . }}
