{{ template "snippets/header.html" . }}

<div class="col-sm-12 no-funds">
    <h3>You need some Bitcoin Cash to get started</h3>
    <br/>
    <p>
        Follow the steps below to fund your account.<br/>
        Or <a href="about#contact">contact us</a> to get some free BCH.
    </p>
    <br/>
</div>

{{ template "snippets/get-funds.html" . }}
<br/>

<div class="col-sm-12 center">
    <h4>
        Alternatively...
    </h4>
    <br/>
    <p>
        <a class="btn btn-default btn-lg" href="all">View All Activity</a>
    </p>
    <br/>
    <br/>
</div>

{{ template "snippets/footer.html" . }}
