{{ template "snippets/header.html" . }}

<h2>{{ T "statistics" }}</h2>

<table class="table left table-striped">
    <tr>
        <th style="width:70%">{{ T "Regular posts" }}</th>
        <td style="width:30%">{{ formatBigInt .MemoPostCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Reply posts" }}</th>
        <td>{{ formatBigInt .MemoReplyPostCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Polls created" }}</th>
        <td>{{ formatBigInt .MemoPollQuestionCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Vote posts" }}</th>
        <td>{{ formatBigInt .MemoVotePostCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Topic posts" }}</th>
        <td>{{ formatBigInt .MemoTopicPostCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Total" }} Posts</th>
        <th>{{ formatBigInt .MemoTotalPosts }}</th>
    </tr>
</table>

<br/>

<table class="table left table-striped">
    <tr>
        <th style="width:70%">{{ T "like" 2 | Title }}</th>
        <td style="width:30%">{{ formatBigInt .MemoLikeCount }}</td>
    </tr>
    <tr>
        <th>{{ T "follow" 2 }}</th>
        <td>{{ formatBigInt .MemoFollowCount }}</td>
    </tr>
    <!--<tr>
        <th>{{ T "Total posts" }}</th>
        <td>{{ formatBigInt .MemoPostCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Reply posts" }}</th>
        <td>{{ formatBigInt .MemoReplyPostCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Topic posts" }}</th>
        <td>{{ formatBigInt .MemoTopicPostCount }}</td>
    </tr>-->
    <tr>
        <th>{{ T "Names_set" }}</th>
        <td>{{ formatBigInt .MemoSetNameCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Profiles set" }}</th>
        <td>{{ formatBigInt .MemoSetProfileCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Profile pics set" }}</th>
        <td>{{ formatBigInt .MemoSetProfilePicCount }}</td>
    </tr>
    <!--<tr>
        <th>{{ T "Polls created" }}</th>
        <td>{{ formatBigInt .MemoPollQuestionCount }}</td>
    </tr>-->
    <tr>
        <th>{{ T "Poll options added" }}</th>
        <td>{{ formatBigInt .MemoPollOptionCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Poll votes" }}</th>
        <td>{{ formatBigInt .MemoPollVoteCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Topic follows" }}</th>
        <td>{{ formatBigInt .MemoTopicFollowCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Total" }} On-chain Actions</th>
        <th>{{ formatBigInt .MemoTotalActionCount }}</th>
    </tr>
</table>

<br/>
<br/>

{{ template "snippets/footer.html" . }}
