</div>

</div>

<div class="footer">
    <div class="container">
        <div class="col-md-6">
            <a href="/about">{{ T "about" }}</a>
            <a href="/guides">{{ T "Guides" }}</a>
            <a href="protocol">{{ T "protocol" }}</a>
            <a href="disclaimer">{{ T "disclaimer" }}</a>
            <a href="/stats">{{ T "statistics" }}</a>
            <a href="bitcoincash:qzdxp2z5yuxzlskafh2d8wsq7grg7rt46csg3qcn80">Donate</a>
        </div>
        <div class="col-md-6 text-right-large">
            <select id="language-picker" data-width="fit">
                <option {{ if eq .Lang "en-US" }}selected{{ end }} value="en-US" data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                <option {{ if eq .Lang "es-LA" }}selected{{ end }} value="es-LA" data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
                <option {{ if eq .Lang "zh-CN" }}selected{{ end }} value="zh-CN" data-content='<span class="flag-icon flag-icon-cn"></span> 中文(简体)'>中文(简体)</option>
                <option {{ if eq .Lang "fr-FR" }}selected{{ end }} value="fr-FR" data-content='<span class="flag-icon flag-icon-fr"></span> français'>français</option>
                <option {{ if eq .Lang "ja-JP" }}selected{{ end }} value="ja-JP" data-content='<span class="flag-icon flag-icon-jp"></span> 日本語'>日本語</option>
                <option {{ if eq .Lang "sv-SE" }}selected{{ end }} value="sv-SE" data-content='<span class="flag-icon flag-icon-se"></span> svenska'>svenska</option>
                <option {{ if eq .Lang "ko-KR" }}selected{{ end }} value="ko-KR" data-content='<span class="flag-icon flag-icon-kr"></span> 한국어'>한국어</option>
                <option {{ if eq .Lang "el-GR" }}selected{{ end }} value="el-GR" data-content='<span class="flag-icon flag-icon-gr"></span> Ελληνικά'>Ελληνικά</option>
                <option {{ if eq .Lang "pl-PL" }}selected{{ end }} value="pl-PL" data-content='<span class="flag-icon flag-icon-pl"></span> Polski'>Polski</option>
                <option {{ if eq .Lang "pt-BR" }}selected{{ end }} value="pt-BR" data-content='<span class="flag-icon flag-icon-br"></span> Português'>Português</option>
                <option {{ if eq .Lang "cs-CZ" }}selected{{ end }} value="cs-CZ" data-content='<span class="flag-icon flag-icon-cz"></span> Čeština'>Čeština</option>
                <option {{ if eq .Lang "nl-NL" }}selected{{ end }} value="nl-NL" data-content='<span class="flag-icon flag-icon-nl"></span> Nederlands'>Nederlands</option>
            </select>
        </div>
    </div>
</div>
<script>
    $(function(){
        var $languagePicker = $("#language-picker");
        $languagePicker.selectpicker();
        $languagePicker.on("change", function() {
            $.ajax({
                type: "POST",
                url: MemoApp.URL.SetLanguage,
                data: {
                    code: $languagePicker.val()
                },
                success: function() {
                    window.location.reload();
                },
                error: function() {
                    MemoApp.AddAlert("Error updating language.");
                }
            });
        });
    });
</script>
{{ if eq .UserSettings.Integrations "all" }}
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
{{ end }}

{{ if not (eq .UserSettings.Integrations "none") }}
<script type="text/javascript" async src="https://www.googletagmanager.com/gtag/js?id={{ .GoogleId }}"></script>
<script type="text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ .GoogleId }}');
</script>
{{ end }}
</div>
</div>
<div id="site-wrapper-cover"></div>
<div id="site-modal-wrapper"></div>

</body>
</html>
