</div>

</div>

<div class="footer">
    <div class="container">
        <div class="col-md-6">
            <a href="/about">{{ T "about" }}</a>
            <a href="/guides">{{ T "Guides" }}</a>
            <a href="protocol">{{ T "protocol" }}</a>
            <a href="disclaimer">{{ T "disclaimer" }}</a>
            <a href="/stats">{{ T "statistics" }}</a>
            <a href="bitcoincash:qzdxp2z5yuxzlskafh2d8wsq7grg7rt46csg3qcn80">Donate</a>
        </div>
        <div class="col-md-6 text-right-large">
            <div class="dropup" id="language-picker" style="display:inline-block">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                {{ $lang := .Lang }}
                {{ range .Languages }}
                {{ if eq .Code $lang }}<span class="flag-icon flag-icon-{{ .Flag }}"></span> {{ .Name }}{{ end }}
                {{ end }}
                    <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                {{ range .Languages }}
                    <li><a href="#" data-lang="{{ .Code }}"><span class="flag-icon flag-icon-{{ .Flag }}"></span> {{ .Name }}</a></li>
                {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var $languagePicker = $("#language-picker");
        $languagePicker.find("a").click(function (e) {
            var $this = $(this);
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: MemoApp.URL.SetLanguage,
                data: {
                    code: $this.attr("data-lang")
                },
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    MemoApp.AddAlert("Error updating language.");
                }
            });
        });
    });
</script>
{{ if eq .UserSettings.Integrations "all" }}
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
{{ end }}

{{ if not (eq .UserSettings.Integrations "none") }}
<script type="text/javascript" async src="https://www.googletagmanager.com/gtag/js?id={{ .GoogleId }}"></script>
<script type="text/javascript">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', '{{ .GoogleId }}');
</script>
{{ end }}
</div>
</div>
<div id="site-wrapper-cover"></div>
<div id="site-modal-wrapper"></div>

</body>
</html>
